h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #202020;
  font-family: "Roboto", sans-serif;
  color: #DEDEDE;
}

.container {
  min-width: 250px;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 708px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 964px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1380px;
  }
}

.hero {
  padding-top: 56px;
  padding-bottom: 64px;
}

.hero__img {
  width: 280px;
  height: 240px;
  margin: 0 auto;
  margin-bottom: 68px;
}

.hero__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 60px;
}

.hero__description {
  max-width: 300px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #959595;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #D9720D;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.hero__btn-icon {
  width: 18px;
  height: 18px;
  margin-right: 14px;
}

.hero__btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__btn-text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 96px;
    padding-bottom: 64px;
  }
  .hero__position {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero__img {
    width: 280px;
    height: 240px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 110px;
    padding-bottom: 120px;
  }
  .hero__left {
    margin-right: 90px;
  }
}

@media screen and (min-width: 1024px) {
  .hero__title {
    font-weight: 700;
    font-size: 42px;
    line-height: 70px;
  }
  .hero__description {
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    max-width: 400px;
  }
  .hero__img {
    width: 390px;
    height: 350px;
  }
  .hero__left {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    padding-top: 160px;
    padding-bottom: 170px;
  }
  .hero__title {
    font-weight: 700;
    font-size: 64px;
    line-height: 70px;
  }
  .hero__description {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    max-width: 600px;
  }
  .hero__img {
    width: 440px;
    height: 400px;
  }
}

.header {
  display: none;
  background-color: rgba(50, 50, 50, 0.7);
  padding-top: 23px;
  padding-bottom: 23px;
}

.header__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: none;
}

.header__nav-icon {
  width: 36px;
  height: 36px;
  fill: #ffffff;
  padding-right: 10px;
}

.header__burger-menu {
  display: none;
  width: 34px;
  height: 34px;
  fill: #ffffff;
}

.header__nav-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #DEDEDE;
  font-style: normal;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 15px;
}

.header__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  font-style: normal;
  color: #DEDEDE;
}

@media screen and (min-width: 768px) {
  .header {
    display: block;
  }
  .header__burger-menu {
    display: none;
  }
  .header__nav {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__nav-item:not(:last-child) {
    margin-right: 15px;
  }
  .header__nav-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    font-style: normal;
    color: #DEDEDE;
  }
}

@media screen and (min-width: 1024px) {
  .header__nav-item:not(:last-child) {
    margin-right: 30px;
  }
  .header__nav-link {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .header__nav-item:not(:last-child) {
    margin-right: 45px;
  }
  .header__nav-link {
    font-size: 22px;
  }
}

.social {
  padding-top: 64px;
  padding-bottom: 64px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.social__item {
  width: 120px;
  height: 60px;
  margin-top: 30px;
  margin-left: 30px;
  text-align: center;
}

.social__social-link {
  font-style: normal;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .social {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .social {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 900px;
    margin: 0 auto;
  }
  .social__item {
    width: 120px;
    height: 60px;
  }
  .social__social-link {
    font-size: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .social {
    padding-top: 120px;
    padding-bottom: 90px;
    max-width: 1200px;
  }
  .social__item {
    width: 160px;
    height: 120px;
  }
  .social__social-link {
    font-size: 22px;
  }
}

.video {
  padding-top: 64px;
  padding-bottom: 64px;
}

.video__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video__svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.video__svg-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #DEDEDE;
}

.video__list {
  margin-top: 46px;
  text-align: center;
}

.video__item {
  margin: 0 auto;
}

.video__item:not(:last-child) {
  margin-bottom: 38px;
}

.video__iframe {
  width: 280px;
  height: 226px;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .video__iframe {
    width: 430px;
    height: 300px;
  }
}

@media screen and (min-width: 1024px) {
  .video {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .video__iframe {
    width: 964px;
    height: 100vh;
  }
  .video__list {
    margin-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .video__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .video {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.about {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
}

.about__title {
  margin-bottom: 34px;
  font-size: 28px;
}

.about__description {
  font-size: 22px;
  line-height: 44px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about__description {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about__title {
    margin-bottom: 42px;
    font-size: 32px;
  }
  .about__description {
    font-size: 24px;
    margin: 0 auto;
    line-height: 2;
  }
}

@media screen and (min-width: 1440px) {
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about__title {
    margin-bottom: 42px;
    font-size: 36px;
  }
  .about__description {
    font-size: 28px;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
  }
}

.music {
  padding-top: 64px;
  padding-bottom: 64px;
}

.music__play-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 0.5px solid rgba(229, 229, 229, 0.33);
  padding-top: 25px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 13px;
}

.music-11 {
  border-bottom: 0.5px solid rgba(229, 229, 229, 0.33);
}

.music__play-img {
  width: 45px;
  height: 45px;
  border-radius: 4px;
  margin-right: 16px;
}

.music__play-title {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.music__play-description {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: rgba(229, 229, 229, 0.72);
  margin-top: 8px;
}

.music__play-play {
  margin-left: auto;
  width: 17px;
  height: 17px;
  fill: #ffffff;
}

.progress__container {
  margin: 0 auto;
  width: 250px;
  height: 6px;
  background-color: aqua;
  border-radius: 10px;
}

.progress {
  height: 6px;
  background-color: #cbcfcf;
  border-radius: 10px;
}

.player {
  margin-bottom: 20px;
  padding-top: 28px;
  border-top: 0.5px solid rgba(229, 229, 229, 0.33);
}

.music__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.play-img {
  width: 28px;
  height: 28px;
  fill: #ffffffdc;
  margin-left: 10px;
  margin-right: 10px;
}

.play-pause {
  display: none;
}

.pause-img {
  width: 28px;
  height: 28px;
  fill: #ffffffdc;
  margin-left: 10px;
  margin-right: 10px;
}

.btn__prev-svg {
  width: 28px;
  height: 28px;
  fill: #ffffffdc;
}

.btn__next-svg {
  width: 28px;
  height: 28px;
  fill: #ffffffdc;
}

@media screen and (min-width: 768px) {
  .music__play-img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  .music__play-title {
    font-size: 16px;
  }
  .music__play-description {
    font-size: 13px;
  }
  .music__play-play {
    width: 17px;
    height: 17px;
  }
  .player {
    margin-bottom: 28px;
  }
  .progress__container {
    width: 500px;
    height: 8px;
  }
  .music__btn {
    margin-bottom: 20px;
  }
  .play-img {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-right: 20x;
  }
  .pause-img {
    width: 36px;
    height: 36px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .btn__prev-svg {
    width: 36px;
    height: 36px;
  }
  .btn__next-svg {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .music {
    padding-top: 90px;
    padding-bottom: 120px;
  }
  .music__play-item {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 25px;
  }
  .music__play-img {
    width: 70px;
    height: 70px;
    margin-right: 24px;
  }
  .music__play-title {
    font-size: 20px;
    line-height: 17px;
  }
  .music__play-description {
    font-size: 17px;
    line-height: 17px;
    margin-top: 10px;
  }
  .music__play-play {
    width: 23px;
    height: 23px;
  }
  .player {
    margin-bottom: 35px;
    padding-top: 35px;
  }
  .progress__container {
    width: 700px;
    height: 9px;
  }
  .music__btn {
    margin-bottom: 25px;
  }
  .play-img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .pause-img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .btn__prev-svg {
    width: 40px;
    height: 40px;
  }
  .btn__next-svg {
    width: 40px;
    height: 40px;
  }
}

.contact {
  padding-top: 64px;
  padding-bottom: 120px;
  text-align: center;
}

.contact__title {
  margin-bottom: 20px;
  font-size: 28px;
}

.contact__description {
  margin-bottom: 46px;
  font-size: 24px;
}

.contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #D9720D;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}

.contact__btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact__btn-icon {
  width: 18px;
  height: 18px;
  margin-right: 16px;
}

.contact__btn-text {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

@media screen and (min-width: 1440px) {
  .contact__title {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .contact__description {
    margin-bottom: 56px;
    font-size: 30px;
  }
}

.footer {
  padding-top: 48px;
  padding-bottom: 64px;
  border-top: solid 1px #696969;
  text-align: center;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

.footer__social-item:not(:last-child) {
  margin-right: 18px;
}

.footer__social-svg {
  width: 28px;
  height: 28px;
  fill: #959595;
}

.copy {
  color: #959595;
}

@media screen and (min-width: 768px) {
  .footer__social-svg {
    width: 32px;
    height: 32px;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__social-svg {
    width: 36px;
    height: 36px;
  }
  .footer__social-item:not(:last-child) {
    margin-right: 35px;
  }
}
/*# sourceMappingURL=main.css.map */