:root{
    // navigation
    --logo-color: #DEDEDE;
    --logo-hover-color: #0ca6cc;
    --color-link-nav: #DEDEDE;
    --hover-link-nav: #0ca6cc;

    // hero title
    --color-hero-title: #ffffff;
    --color-hero-title-accent: #0ca6cc;
    --color-hero-text: #959595;

    // text
    --color-title-h2: #DEDEDE;
    --color-text: rgba(229, 229, 229, 0.72);


    // buttons
    --bgc-btn: #D9720D;
    --bgc-hover-btn: #ffffff;
    --color-btn-text: #ffffff;
    --hover-btn-text: #0e0d0d;
    --color-ikon-btn: #ffffff;
    --hover-ikon-btn:#000000;

    // social link
    --color-social-link: #ffffff;
    --hover-social-link: #0ca6cc;


    // music section
    
   --border-color:  rgba(229, 229, 229, 0.33);
   --color-btn-player: #fff;
   --bgc-progress-container: #fff;
   --bgc-progress: #000;

// footer
   --color-footer-ikon: #959595;
   --hover-footer-ikon: #ffffff;
}