<section class="header">
    <div class="container header__position">
        <nav class="header__nav">
            <svg class="header__nav-icon">
                <use href="./images/sprite.svg#logo"></use>
                </svg>
            <a href="./index.html" class="header__nav-logo">Tony Naty</a>
        </nav>
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a href="#video" class="header__nav-link">Video</a>
            </li>
            <li class="header__nav-item">
                <a href="#about" class="header__nav-link">About me</a>
            </li>
            <li class="header__nav-item">
                <a href="#music" class="header__nav-link">Music</a>
            </li>
            <li class="header__nav-item">
                <a href="#contact" class="header__nav-link">Contact</a>
            </li>
        </ul>
        <svg class="header__burger-menu">
            <use href="./images/sprite.svg#menu"></use>
            </svg>
    </div>
</section>