<section class="hero">
    <div class="container hero__position">
<img src="./images/head.svg" alt="Tony-Naty" class="hero__img">
<!-- <svg class="hero__img">
    <use href="./images/head.svg"></use>
    </svg> -->
<div class="hero__left">
<h1 class="hero__title">Hi, I am <span class="hero__title-accent">Tony Naty</span><br>
    I create music.</h1>
<p class="hero__description"> 
    Aspiring musician, performer who wants to share his creativity and is 
    looking for those who want to develop their talents with me.</p>
    <button class="hero__btn">
<a href="mailto:nataliakal4enko@gmail.com" class="hero__btn-link">
        <svg class="hero__btn-icon">
        <use href="./images/sprite.svg#mail"></use>
        </svg>
        <!-- <span class="hero__btn-text"> -->
            nataliakal4enko.gmail.com
        <!-- </span> -->
    </a>
</button>
</div>
    </div>
</section>