<section class="music" id="music">
    <div class="container">
              <ul class="music__play-list">
                <li class="music__play-item music-12">
                  <audio id="audio12" class="music__play-audio" src="./audio/22-22.mp3">
                    Воспроизведение аудио-файла не поддерживается браузером
                  </audio>
                  <img src="./images/2222.jpg" alt="" class="music__play-img">
                  <div class="music__play-title-box">
                  <span class="music__play-title">22:22</span>
                <p class="music__play-description">By Tony Naty</p>
              </div>
              <svg class="music__play-play">
              <use href="./images/sprite.svg#play"></use>
              </svg>
                </li>
                   <li class="music__play-item music-13">
                    <audio id="audio13" class="music__play-audio" src="./audio/feel  so good.wav">
                      Воспроизведение аудио-файла не поддерживается браузером
                    </audio>
                    <img src="./images/feelsogood.jpg" alt="" class="music__play-img">
                    <div class="music__play-title-box">
                    <span class="music__play-title">Feel So Good</span>
                    <p class="music__play-description">By Tony Naty</p>
                  </div>
                  <svg class="music__play-play">
                    <use href="./images/sprite.svg#play"></use>
                    </svg>
                  </li>
                   <li class="music__play-item music-3">
                      <audio id="audio3" class="music__play-audio" src="./audio/GINGER SNAPS.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/gingersnaps.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Ginger Snaps</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-4">
                      <audio id="audio4" class="music__play-audio" src="./audio/Hazel eyes.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/hazeleyes.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Hazel Eyes</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-5"> 
                      <audio id="audio5" class="music__play-audio" src="./audio/kOsmos.wav">
                        Воспроизведение аудио-файла не поддерживается браузером</audio>
                      <img src="./images/kosmos.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                     <span class="music__play-title">Kosmos</span>
                     <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-6"> 
                      <audio id="audio6" class="music__play-audio" src="./audio/Major Lazer style.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/majorlazerstyle.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Major Lazer Style</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-7"> 
                      <audio id="audio7" class="music__play-audio" src="./audio/ROSE BABY ROSE.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером</audio>
                        <img src="./images/rosebabyrose.jpg" alt="" class="music__play-img">
                        <div class="music__play-title-box">
                        <span class="music__play-title">Rose Baby Rose</span>
                        <p class="music__play-description">By Tony Naty</p>
                      </div>
                      <svg class="music__play-play">
                        <use href="./images/sprite.svg#play"></use>
                        </svg>
                      </li>
                    <li class="music__play-item music-8"> 
                      <audio id="audio8" class="music__play-audio" src="./audio/Ruff Life.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/ruffday.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Ruff Day</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-9"> 
                      <audio id="audio9" class="music__play-audio" src="./audio/Lambada.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/lambada.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Lambada</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-10"> 
                      <audio id="audio10" class="music__play-audio" src="./audio/Dance 1.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      <img src="./images/dance.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Dance 1</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    <li class="music__play-item music-11"> 
                      <audio id="audio11" class="audiocl" src="./audio/Broken heart.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером</audio>
                      <img src="./images/brokenheart.jpg" alt="" class="music__play-img">
                      <div class="music__play-title-box">
                      <span class="music__play-title">Broken Heart</span>
                      <p class="music__play-description">By Tony Naty</p>
                    </div>
                    <svg class="music__play-play">
                      <use href="./images/sprite.svg#play"></use>
                      </svg>
                    </li>
                    </ul>
    </div>
</section>