<section class="music">
    <div class="container">
              <ul class="music__playlist">
                <li class="music__play-item music-12">
                  <audio id="audio12" class="audiocl" src="./audio/22-22.mp3">
                    Воспроизведение аудио-файла не поддерживается браузером
                  </audio>
                  22:22</li>
                   <li class="music__play-item music-13">
                    <audio id="audio13" class="audiocl" src="./audio/feel  so good.wav">
                      Воспроизведение аудио-файла не поддерживается браузером
                    </audio>
                    Feel So Good</li>
                   <li class="music__play-item music-3">
                      <audio id="audio3" class="audiocl" src="./audio/GINGER SNAPS.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      Ginger Snaps</li>
                    <li class="music__play-item music-4">
                      <audio id="audio4" class="audiocl" src="./audio/Hazel eyes.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                       Hazel Eyes</li>
                    <li class="music__play-item music-5"> 
                      <audio id="audio5" class="audiocl" src="./audio/kOsmos.wav">
                        Воспроизведение аудио-файла не поддерживается браузером</audio>
                      Kosmos</li>
                    <li class="music__play-item music-6"> 
                      <audio id="audio6" class="audiocl" src="./audio/Major Lazer style.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      Major Lazer Style</li>
                    <li class="music__play-item music-7"> 
                      <audio id="audio7" class="audiocl" src="./audio/ROSE BABY ROSE.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером</audio
                        >Rose Baby Rose</li>
                    <li class="music__play-item music-8"> 
                      <audio id="audio8" class="audiocl" src="./audio/Ruff Life.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      Ruff Day</li>
                    <li class="music__play-item music-9"> 
                      <audio id="audio9" class="audiocl" src="./audio/Lambada.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      Lambada</li>
                    <li class="music__play-item music-10"> 
                      <audio id="audio10" class="audiocl" src="./audio/Dance 1.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером
                      </audio>
                      Dance 1</li>
                    <li class="music__play-item music-11"> 
                      <audio id="audio11" class="audiocl" src="./audio/Broken heart.mp3">
                        Воспроизведение аудио-файла не поддерживается браузером</audio>
                      Broken Heart</li>
                    </ul>
    </div>
</section>