<section class="video" id="video">
    <div class="container">
    <a href="" class="video__link">
    <svg class="video__svg">
    <use href="./images/sprite.svg#down"></use>
    </svg>
    <span class="video__svg-title">Featured Work</span>
</a>
<ul class="video__list">
    <li class="video__item">
        <iframe class="video__iframe" src="https://www.youtube.com/embed/xYVfAAAQiHs" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </li>
    <li class="video__item">
        <iframe class="video__iframe" src="https://www.youtube.com/embed/Z93-slrtq9Y" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </li>
    <li class="video__item">
        <iframe class="video__iframe" src="https://www.youtube.com/embed/KdRuI8OnhRU" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
    </li>
</ul>
    </div>
</section>