.about{
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.about__title{
    margin-bottom: 34px;
    font-size: 28px;
}
.about__description{
    font-size: 22px;
    line-height: 44px;
}