.contact{
    padding-top: 64px;
    padding-bottom: 120px;
    text-align: center;
}
.contact__title{
    margin-bottom: 20px;
    font-size: 28px;
}
.contact__description{
    margin-bottom: 46px;
    font-size: 24px;
}
.contact__btn{
    display: flex;
    align-items: center;
    justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #D9720D;  
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.contact__btn-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact__btn-icon{
    width: 18px;
    height: 18px;
    margin-right: 16px;
}
.contact__btn-text{
    font-weight: 400;
font-size: 16px;
color: #ffffff;
}

@media screen and (min-width: 1440px){
    .contact__title{
        margin-bottom: 40px;
        font-size: 36px;
    }
    .contact__description{
        margin-bottom: 56px;
        font-size: 30px;
    }

}