.footer{
    padding-top: 48px;
    padding-bottom: 64px;
    border-top: 1.5px solid var(--border-color);
    text-align: center;
}
.footer__social-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
}
.footer__social-item{
    &:not(:last-child){
        margin-right: 18px;
    }
}
.footer__social-svg{
    width: 28px;
    height: 28px;
    fill: var(--color-footer-ikon);

    &:hover,
    &:focus{
        fill: var(--hover-footer-ikon);
    }
}
.copy{
    color: var(--color-footer-ikon);
}

@media screen and (min-width: 768px){
    .footer__social-svg{
        width: 32px;
        height: 32px;
    }
    .footer__social-item{
        &:not(:last-child){
            margin-right: 30px;
        }
    }
}

@media screen and (min-width: 1440px){
    .footer__social-svg{
        width: 36px;
        height: 36px;
    }
    .footer__social-item{
        &:not(:last-child){
            margin-right: 35px;
        }
    }
}