.hero{
padding-top: 68px;
padding-bottom: 64px;
}
.hero__img{
    width: 280px;
    height: 240px;
    margin: 0 auto;
    margin-bottom: 68px;
}
.hero__title{
    text-align: center;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    margin-bottom: 60px;
}
.hero__description{
    max-width: 300px;
 font-weight: 500;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #959595;
margin: 0 auto;
margin-bottom: 48px;
}
.hero__btn{
    display: flex;
    align-items: center;
    justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  background-color: #D9720D;  
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
}
.hero__btn-icon{
    width: 18px;
    height: 18px;
    margin-right: 14px;
}
.hero__btn-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero__btn-text{
    font-weight: 400;
font-size: 16px;
// line-height: 25px;
color: #ffffff;
}

@media screen and (min-width: 768px){
    .hero{
        padding-top: 96px;
        padding-bottom: 64px;
        }
    .hero__position{
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .hero__img{
        width: 280px;
        height: 240px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px){
    .hero{
        padding-top: 110px;
        padding-bottom: 120px;
        }
        .hero__left{
            margin-right: 90px;
        }
}

@media screen and (min-width: 1024px){
    .hero__title{
        font-weight: 700;
     font-size: 42px;
     line-height: 70px;
    }
    .hero__description{
        font-weight: 600;
        font-size: 18px;
        line-height: 36px;
       max-width: 400px;
    } 
    .hero__img{
        width: 390px;
        height: 350px;
    }
    .hero__left{
        margin-right: 120px;
    }
}

@media screen and (min-width: 1440px){
    .hero{
        padding-top: 160px;
        padding-bottom: 170px;
        }
    .hero__title{
        font-weight: 700;
     font-size: 64px;
     line-height: 70px;
    }
    .hero__description{
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
       max-width: 600px;
    } 
    .hero__img{
        width: 440px;
        height: 400px;
    }
}