.social{
    padding-top: 64px;
    padding-bottom: 64px;
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.social__item{
    width: 120px;
    height: 90px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}
.social__svg{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    fill: #959595;
    margin-bottom: 28px;
}
.social__item-title{
    font-style: normal;
    color: #ffffff;
}