.social{
    padding-top: 64px;
    padding-bottom: 64px;
}
.social__list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
}
.social__item{
    width: 120px;
    height: 90px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;
}
.social__svg{
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    fill: #959595;
    margin-bottom: 28px;
}
.social__item-title{
    font-style: normal;
    color: #ffffff;
}


@media screen and (min-width: 768px){
    .social{
    max-width: 500px;
    margin: 0 auto;
}
}

@media screen and (min-width: 1024px){
    .social{
        padding-top: 80px;
        padding-bottom: 80px;
        max-width: 900px;
        margin: 0 auto;
    }
    .social__item{
        width: 120px;
        height: 90px;
    }
    .social__svg{
        width: 25px;
        height: 25px;
    }
    .social__item-title{
       font-size: 18px;
    }
}

@media screen and (min-width: 1440px){
    .social{
        padding-top: 120px;
        padding-bottom: 90px;
        max-width: 1200px;
    }
    .social__item{
        width: 160px;
        height: 120px;
    }
    .social__svg{
        width: 50px;
        height: 50px;
    }
    .social__item-title{
       font-size: 22px;
    }
}