.video{
    padding-top: 64px;
    padding-bottom: 64px;
}
.video__link{
    display: flex;
    align-items: center;
}
.video__svg{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.video__svg-title{
    font-style: normal;
    font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #DEDEDE;
}
.video__list{
margin-top: 46px;
text-align: center;
}
.video__item{
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: 38px;
    }
}
.video__iframe{
    width: 280px;
    height: 226px;
    border-radius: 4px;
}